.parrafo-justificado{
    text-align: justify;
}

.navbar-brand img {
    max-width: 20%;
    height: auto;
}

@media (max-width: 576px) {
    .navbar-brand img {
        max-width: 15%; 
    }
}

#programmingCarousel {
    max-width: 800px; 
    margin: 0 auto; 
}

.carousel-item img {
    max-height: 400px; 
    object-fit: contain;
}

.bg-dark-transparent {
    background: rgba(0, 0, 0, 0.5);
}