.parrafo-justificado{
    text-align: justify;
}

.navbar-brand img {
    max-width: 20%;
    height: auto;
}

@media (max-width: 576px) {
    .navbar-brand img {
        max-width: 15%; /* Tamaño más pequeño en pantallas XS */
    }
}

#programmingCarousel {
    max-width: 800px; /* Ajusta el ancho máximo del carrusel */
    margin: 0 auto; /* Centra el carrusel */
}

.carousel-item img {
    max-height: 400px; /* Limita la altura máxima de las imágenes */
    object-fit: contain; /* Asegura que la imagen se escale correctamente */
}